@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
}

@layer components {
  .icon {
    display: inline-block;
    vertical-align: -.125em;
  }
}

@layer utilities {
  .box-shadow-sima {
    box-shadow: inset 0 0 0 1px #ffffff1a;
  }
}

body {
  font-family: 'montserrat';
}

.bg-gradient {
  width: 356px;
  height: 356px;
  background-image: linear-gradient(-45deg, #21005b33 25%, #4338ca);
  filter: blur(80px);
  border-radius: 50%;
}
